<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Bridge" version="16.5.0" targetFramework="net452" />
  <package id="Bridge.Core" version="16.5.0" targetFramework="net452" />
  <package id="Bridge.Html5" version="16.5.0" targetFramework="net452" />
  <package id="Bridge.Min" version="16.5.0" targetFramework="net452" />
  <package id="Retyped.Core" version="1.3.6532" targetFramework="net452" />
  <package id="Retyped.dom" version="2.3.6532" targetFramework="net452" />
  <package id="Retyped.es5" version="2.3.6532" targetFramework="net452" />
  <package id="Retyped.react" version="15.0.6532" targetFramework="net452" />
  <package id="Retyped.react-dom" version="15.5.6532" targetFramework="net452" />
</packages>