<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Bridge" version="16.7.1" targetFramework="net461" />
  <package id="Bridge.Core" version="16.7.1" targetFramework="net461" />
  <package id="Bridge.Html5" version="16.7.1" targetFramework="net461" />
  <package id="Bridge.Min" version="16.7.1" targetFramework="net461" />
  <package id="Bridge.Newtonsoft.Json" version="1.5.0" targetFramework="net461" />
  <package id="Retyped.Core" version="1.4.6556" targetFramework="net461" />
  <package id="Retyped.dom" version="2.3.6589" targetFramework="net461" />
  <package id="Retyped.es2015.collection" version="2.3.6556" targetFramework="net461" />
  <package id="Retyped.es2015.core" version="2.3.6556" targetFramework="net461" />
  <package id="Retyped.es2015.iterable" version="2.3.6556" targetFramework="net461" />
  <package id="Retyped.es2015.symbol" version="2.3.6556" targetFramework="net461" />
  <package id="Retyped.es5" version="2.3.6556" targetFramework="net461" />
  <package id="Retyped.express" version="4.0.6556" targetFramework="net461" />
  <package id="Retyped.express-serve-static-core" version="4.0.6556" targetFramework="net461" />
  <package id="Retyped.mime" version="0.1.6556" targetFramework="net461" />
  <package id="Retyped.node" version="7.0.6556" targetFramework="net461" />
  <package id="Retyped.serve-static" version="1.7.6556" targetFramework="net461" />
</packages>